.card {
    background-color: #63a29c;
    text-align: center;
    height: 650px;
    width: 100%;
}

.form-control {
    border: 2px solid rgb(126, 126, 189);
    width: 20%;
    margin: 5px;
}

p {
    text-align: center;
}

.header {
    text-align: center;
    background-color: cadetblue;
}
