<div class="header" *ngIf="!isloaded">
    <h1>Search for the weather</h1>
</div>
<div *ngIf="isloaded" class="card">
    <h3 class='bg_color'> {{this.weatherData?.location.name}} {{this.weatherData?.location.country}}</h3>
    <h3> {{this.weatherData?.current.condition.text}}
        <img [src]="this.weatherData?.current.condition.icon" title="{{ weatherData?.current.condition.text}}" /> {{this.weatherData?.current.temp_c }} °C
    </h3>
    <p>
        Local time: {{this.weatherData?.current.last_updated }}
    </p>
    <p>
        Temperature in Degrees Farenheit: {{this.weatherData?.current.temp_f}} °F
    </p>
    <p>
        Feels like in Degrees Celsius: {{this.weatherData?.current.feelslike_c}} °C
    </p>
    <p>
        Feels like in Degrees Farenheit: {{this.weatherData?.current.feelslike_f}} °F
    </p>

    <p>
        Wind speed in kilometer per hour: {{this.weatherData?.current.wind_kph }} kph
    </p>

    <p>
        Precipitation amount in millimeters: {{this.weatherData?.current.precip_mm }} mm
    </p>

    <p>
        Humidity as percentage: {{this.weatherData?.current.humidity }} %
    </p>

    <p>
        Cloud cover as percentage: {{this.weatherData?.current.cloud }} %
    </p>

</div>
<div>
    <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
        <div class="form-group">
            <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation" placeholder="Please input a Location" formControlName="location" />
        </div>
        <div>
            <button type="submit" class="btn btn-info">
Enter
</button>
        </div>
    </form>

</div>
